AWS_ACCESS_KEY_ID= #access key id from aws account
AWS_SECRET_ACCESS_KEY= #secret access key from aws account
AWS_REGION=us-east-1
S3_BUCKET= #s3 bucket name
ATHENA_DATABASE=cost_monitor #athena database name
# Variáveis DBT
DBT_DATABASE=awsdatacatalog #athena database
DBT_REGION_NAME=us-east-1 #region
DBT_S3_DATA_DIR= #uri bucket
DBT_STAGING_DIR= #uri athena results bucket
DBT_SCHEMA=cost_monitor #database name
DBT_THREADS=4 #number of threads
DBT_TYPE=athena #dbt config type
