# access key id from aws account
AWS_ACCESS_KEY_ID=
# secret access key from aws account
AWS_SECRET_ACCESS_KEY=
# AWS region
AWS_REGION=us-east-1
# s3 bucket name
S3_BUCKET=
# athena database name
ATHENA_DATABASE=cost_monitor
# Variáveis DBT
# athena database
DBT_DATABASE=awsdatacatalog
# region
DBT_REGION_NAME=us-east-1
# uri bucket
DBT_S3_DATA_DIR=
# uri athena results bucket
DBT_STAGING_DIR=
# database name
DBT_SCHEMA=cost_monitor
# number of threads
DBT_THREADS=4
# dbt config type
DBT_TYPE=athena
