AWS_ACCESS_KEY_ID= #access key id from aws account
AWS_SECRET_ACCESS_KEY= #secret access key from aws account
AWS_REGION=us-east-1
S3_BUCKET= #s3 bucket name
ATHENA_DATABASE=cost_monitor #athena database name