astro
.git
.env
airflow_settings.yaml
logs/
.venv
airflow.db
airflow.cfg
dbt_food_cost_monitor/target
dbt_food_cost_monitor/logs
dbt_food_cost_monitor/dbt_packages
pipeline/__pycache__
pipeline/data
**/__pycache__
